.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  background-image: url('https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg');
}

.heading {
  font-size: 48px;
  color: red;
}

.paragraph {
  display: none;
}
